@*@model  Entity.Request.UserLogin*@
@{
    ViewBag.Title = Helper.PageTitles.Login;
    Html.EnableClientValidation();
    ViewBag.BodyClass = "login-content";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
}


@if (TempData["ErrMsgforget"] != null)
{
    <script type="text/javascript">
        $('#ForgotPWD').trigger('click');
        notify('@TempData["errMsgforget"].ToString()', '@(Convert.ToString((Helper.Enums.MessageType)(Convert.ToInt32(Helper.Enums.MessageType.danger))))');
    </script>
}

@if (@TempData["MsgForget"] != null)
{
    <script type="text/javascript">
        $('#ForgotPWD').trigger('click');
        var dataMSg = '@TempData["MsgForget"].ToString()';
        notify(dataMSg, '@(Convert.ToString((Helper.Enums.MessageType)(Convert.ToInt32(Helper.Enums.MessageType.success))))');
    </script>
}
@if (TempData["InvalidResult"] != null)
{
    <script type="text/javascript">
        notify('@TempData["InvalidResult"].ToString()', '@(Convert.ToString((Helper.Enums.MessageType)(Convert.ToInt32(Helper.Enums.MessageType.danger))))');
    </script>
}
@if (TempData["ErrMsgforget"] == null && TempData["MsgForget"] == null)
{
    <script type="text/javascript">
        $("#ForgotPasswordContainer").css('display', 'none');
    </script>
}
@if (@TempData["Msg"] != null)
{
    <script type="text/javascript">
        var dataMSg = '@TempData["Msg"].ToString()';
        notify(dataMSg, '@(Convert.ToString((Helper.Enums.MessageType)(Convert.ToInt32(Helper.Enums.MessageType.success))))');
    </script>
}
@if (TempData["ResetInvalidmsg"] != null)
{
    <script type="text/javascript">
        notify('@TempData["ResetInvalidmsg"].ToString()', '@(Convert.ToString((Helper.Enums.MessageType)(Convert.ToInt32(Helper.Enums.MessageType.danger))))');
    </script>
}
<div>
    <div class="container">
        <div class="hero-signin">
            <img src="~/content/Images/logo.png" />
        </div>
        <div id="LoginContainer">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "Frm2", @class = "form-signin" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.EmailId, new { MaxLength = @Helper.MaxLength.Email, @class = "form-control", @placeholder = "Enter email", @autocomplete = "off", @id = "EmailId", @Name = "EmailId", @title = "Email", onkeypress = "javascript:return Evalidatescripttage(event)" })
                    <small class="help-block">@Html.ValidationMessageFor(model => model.EmailId)</small>
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { MaxLength = Helper.MaxLength.Password, @class = "form-control", @placeholder = "Password", @title = "Password", @Name = "Password", onkeypress = "javascript:return Passwordscripttage(event)" })
                    <small class="help-block">@Html.ValidationMessageFor(model => model.Password)</small>
                </div>
                <div class="form-group checkbox">
                    <label>
                        <input type="checkbox" onclick="fillRemember()" value="" id="ChkRemember" title="Remember me"> Remember me
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value='Login' title='Login' name="commit">
                    <input id="HdnRemember" name="HdnRemember" type="hidden" value="" />
                </div>
                @*<a href="#ForgotPassword" id="ForgotPWD" onclick="javascript: setviewbagtitle(this)" title="@Helper.HtmlControl.Forgotyourpassword">@Helper.HtmlControl.Forgotyourpassword</a>*@
            }
        </div>
        @*<div id="ForgotPasswordContainer" style="display:none">
            @using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post, new { @id = "Frm1", @class = "form-signin", @DefaultButton = "DefualtForget" }))
            {
                @Html.ValidationSummary(true)
                <h2 class="form-signin-heading">
                    @Helper.HtmlControl.Forgotpassword
                </h2>
                    <div class="form-group">
                        <h5>@Helper.HtmlControl.ForgotPasswordPageText</h5>
                    </div>
                    <div class="form-group">
                        <label for="user_password" class="sr-only">@Helper.HtmlControl.Email</label>
                        @Html.TextBoxFor(model => model.FMail, new { MaxLength = @Helper.MaxLength.Email, @class = "form-control", @placeholder = "Email", @autocomplete = "off", @Name = "FMail", @id = "FMail", @title = "Email", onkeypress = "javascript:return Evalidatescripttage(event)" })
                        <small class="help-block">@Html.ValidationMessageFor(model => model.FMail)</small>
                    </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-primary btn-block btn-success" value='@Helper.HtmlControl.SendEmail' title='@Helper.HtmlControl.SendEmail' name="commit">
                        </div>
                        <a href="#Login" onclick="javascript: setviewbagtitle(this)" title='@Helper.HtmlControl.BacktoLogin'>@Helper.HtmlControl.BacktoLogin</a><br>
            }
        </div>*@
    </div>
</div>

@*  <a href="#ForgotPasswordContainer" id="ForgotPWD" onclick="javascript: setviewbagtitle(this)" style="display:none" title="@Helper.HtmlControl.Forgotyourpassword">@Helper.HtmlControl.Forgotyourpassword</a><br>*@



<script type="text/javascript">
    var ViewbagName = "";
    $(document).ready(function () {
        $('#EmailId').focus();
        ViewbagName = $('.login-content').find('title').text();
    });
    function fillRemember() {
        $("#HdnRemember").val(($("#ChkRemember").is(":checked")));
    }
    function setviewbagtitle(e) {
        @*if (e.id == 'ForgotPWD') {
            $('.login-content').find('title').text('@Helper.PageTitles.ForgotPassword' + ' :: ' + '@Helper.HtmlControl.WebsiteName' + ViewbagName.replace("Login :: CAEL Verify", ""));
            $("#ForgotPasswordContainer").css('display', 'block');
            $("#LoginContainer").css('display', 'none');
            setTimeout(function () {
                $('#FMail').focus();
            }, 20)
        }
        else {*@
            //$('.login-content').find('title').text('@Helper.PageTitles.Login' + ' :: ' + '@Helper.HtmlControl.WebsiteName' + ViewbagName.replace("Login :: CAEL Verify", " "));
            //$("#ForgotPasswordContainer").css('display', 'none')
            $("#LoginContainer").css('display', 'block')
            setTimeout(function () {
                $('#EmailId').focus();
            }, 20)
       // }
    }
</script>
